/* src/app/users/users.component.css */
.app-container {
    display: flex;
    height: 100vh;
  }
  
  .barra-navegacion {
    width: 200px; /* Ancho de la barra de navegaci칩n */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; /* Para que ocupe toda la altura de la pantalla */
  }
  
  .content {
    margin-left: 200px; /* Deja espacio para la barra de navegaci칩n */
    padding: 20px;
    width: calc(100% - 200px);
    box-sizing: border-box;
  }
  
  .users-container {
    margin: 20px auto;
    width: 100%;
  }
  
  .filter-options {
    display: flex;
    align-items: center; /* Centra verticalmente */
    margin-bottom: 1em;
  }
  
  .select-container {
    display: flex; /* Habilita el uso de flexbox */
    align-items: center; /* Centra verticalmente el select */
  }
  
  .filter-options label{
    margin-right: 1em;
  }
  
  .filter-options input {
    width: 20em;
    height: 2em;
    margin-left: 2em;
  }
  
  .filter-options select {
    width: 10em; /* Ancho autom치tico */
    height: 2rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Centra el texto horizontalmente */
    padding: 0; /* Elimina padding para evitar desalineaci칩n */
    display: flex; /* Habilita flexbox para el select */
    align-items: center; /* Centra verticalmente el texto */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #007acc;
    color: white;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  .btn-edit {
    color: #007acc; /* Azul para editar */
  }
  
  .btn-delete {
    color: red; /* Rojo para eliminar */
  }
  