<div class="app-container">
    <app-barra-navegacion></app-barra-navegacion> 
    <div class="content">
      <div class="users-container">
        <h2>Listado de Prestamos</h2>
        <div class="filter-options">
            <label for="user-filter">Mostrar: </label>
            <div class="select-container">
              <select id="user-filter" (change)="filtrarPrestamos($event)">
                <option value="pendientes">Pendientes</option>
                <option value="devueltos">Devueltos</option>
                <option value="todos">Todos</option>
              </select>
            </div>
            <input type="text" [(ngModel)]="searchQuery"  placeholder="Buscar por nombre o autor" (change)="filtrarPrestamos($event)" />
        </div>
          
        <table>
          <thead>
            <tr>
              <th>Codigo de Prestamo</th>
              <th>Libro</th>
              <th>Socio</th>
              <th>Fecha de Prestamo</th>
              <th>Fecha de Devolucion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prestamo of prestamosFiltrados">
                <td>{{ prestamo.prestamoId }}</td>
                <td>{{ prestamo.libro.titulo }} - {{ prestamo.libro.autor }}</td> 
                <td>{{ prestamo.socio.nombre }} {{ prestamo.socio.apellido }}</td> 
                <td>{{ prestamo.fechaPrestamo | date: 'dd/MM/yyyy' }}</td>
                <td>{{ prestamo.fechaDevolucion | date: 'dd/MM/yyyy' }}</td> 
                <td>
                  <button *ngIf="!prestamo.devuelto" class="btn-edit" (click)="marcarDevolucion(prestamo.prestamoId)">✅</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  