<div class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="/inicio">
        <i class="fas fa-home"></i> Inicio
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0);" class="dropdown-btn" (click)="toggleDropdown('librosDropdown')">
        <i class="fas fa-book"></i> Libros <span class="arrow">▼</span>
      </a>
      <ul class="dropdown-container" [class.show]="isDropdownOpen.librosDropdown">
        <li><a href="/nuevo-libro">Nuevo libro</a></li>
        <li><a href="/listar-libros">Listar libros</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0);" class="dropdown-btn" (click)="toggleDropdown('sociosDropdown')">
        <i class="fas fa-users"></i> Socios <span class="arrow">▼</span>
      </a>
      <ul class="dropdown-container" [class.show]="isDropdownOpen.sociosDropdown">
        <li><a href="/socios/nuevo">Nuevo socio</a></li>
        <li><a href="/socios/listar">Listar socios</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0);" class="dropdown-btn" (click)="toggleDropdown('prestamosDropdown')">
        <i class="fas fa-book-open"></i> Préstamos <span class="arrow">▼</span>
      </a>
      <ul class="dropdown-container" [class.show]="isDropdownOpen.prestamosDropdown">
        <li><a href="/nuevo-prestamo">Nuevo préstamo</a></li>
        <li><a href="/listar-prestamos">Listar préstamos</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0);" class="dropdown-btn" (click)="toggleDropdown('usuariosDropdown')">
        <i class="fas fa-book"></i> Usuarios <span class="arrow">▼</span>
      </a>
      <ul class="dropdown-container" [class.show]="isDropdownOpen.usuariosDropdown">
        <li><a href="/usuario/nuevo">Nuevo Usuario</a></li>
        <li><a href="/usuario/listar">Listar Usuarios</a></li>
      </ul>
    <!-- Cerrar sesión al final -->
    <li class="nav-item">
      <a href="/cerrar-sesion">
        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
      </a>
    </li>
  </ul>
</div>
