<nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/">
        <i class="fas fa-home"></i> <!-- Símbolo de casa -->
      </a>
    </div>
  
    <ul class="navbar-nav">
      <!-- Perfil -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="#">Ver Perfil</a>
          <a class="dropdown-item" href="#">Cerrar Sesión</a>
        </div>
      </li>
  
      <!-- Libros -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="booksDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Libros
        </a>
        <div class="dropdown-menu" aria-labelledby="booksDropdown">
          <a class="dropdown-item" routerLink="/libros/nuevo">Nuevo Libro</a>
          <a class="dropdown-item" routerLink="/libros/listar">Listar Libros</a>
        </div>
      </li>
  
      <!-- Socios -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="sociosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Socios
        </a>
        <div class="dropdown-menu" aria-labelledby="sociosDropdown">
          <a class="dropdown-item" routerLink="/socios/nuevo">Nuevo Socio</a>
          <a class="dropdown-item" routerLink="/socios/listar">Listar Socios</a>
        </div>
      </li>
  
      <!-- Préstamos -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/prestamos">Préstamos de Libros</a>
      </li>
    </ul>
  </nav>
  